[submodule "qasrl_gs"]
	path = qasrl_gs
	url = git@github.com:eranhirs/qasrl-gs.git
[submodule "QANom"]
	path = QANom
	url = git@github.com:kleinay/QANom.git
[submodule "seq2seq_constrained_decoding"]
	path = seq2seq_constrained_decoding
	url = https://github.com/kleinay/seq2seq_constrained_decoding
